body {
	background-color: #fcfcfa;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #f542e3;
	border-right: 3px solid #f542e3;
	border-top: 3px solid #42d4f5;
	border-left: 3px solid #42d4f5;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #42d4f5;
}

ul.topnav li a.active {
	background-color: #f542e3;
}

ul.topnav li.right {
	float: right;
}

.right {
	position: relative;
	float: right;
	width: 98%;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right,
	ul.topnav li {
		float: none;
	}
}

html { 
  background: url(images/bg4.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}